@import "tailwindcss";

@theme {
  --color-e621-green: #2ec035;
  --color-e621-yellow: #ecec26;
  --color-e621-red: #e45f5f;
  --color-e621-safe: #3e9e49;
  --color-e621-questionable: hsl(50, 100%, 70%);
}